* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  padding-right: 50px;
  font-size: 40pt;
}

body {
  background-image: url("/Users/lilykeeling/development/projects/sei-project-one/images/bricks.jpg");
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Monoton', cursive;
}




div.grid {
  align-content: space-around;
  margin-top: 50px;
  width: 250px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

div.grid-item {
  width: 25px;
  height: 25px;
  border: 1px dashed white;
}

div.grid-item.player {
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px dashed black;
}

.fixed {
  background-color: HotPink !important;
}

.fixed-two {
  background-color: HotPink !important;
}

.fixed-three {
  background-color: HotPink !important;
}
.fixed-four {
  background-color: HotPink !important;
}
.fixed-five {
  background-color: HotPink !important;
}
.fixed-six {
  background-color: HotPink !important;
}
.fixed-seven {
  background-color: HotPink !important;
}
.fixed-eight {
  background-color: HotPink !important;
}
.fixed-nine {
  background-color: HotPink !important;
}

.fixed-ten {
  background-color: HotPink !important;
}
.fixed-eleven {
  background-color: HotPink !important;
}
.fixed-twelve {
  background-color: HotPink !important;
}
.fixed-thirteen {
  background-color: HotPink !important;
}

.fixed-fourteen {
  background-color: HotPink !important;
}
.fixed-fifteen {
  background-color: HotPink !important;
}
.fixed-sixteen {
  background-color: HotPink !important;
}
.fixed-seventeen{
  background-color: HotPink !important;
}

.test {
  background-color: turquoise !important;
}
